<%= render 'layouts/header' %>
<div class="container page-content">
     <div class="row">
     <div class="span8">
     <div class="box-container">
     <div class="cycle-slideshow">
     <%= image_tag @product.image_url(:large) %>
     </div>
     <div id="adv-custom-pager"></div>
     <div class="clearfix">
       <div class="clearfix padding30">
        <h2 class="prop-title pull-left margin0"><%= @product.name %></h2>&nbsp&nbsp
        <%= link_to edit_product_path(@product) do %><i class="icon-pencil icon-large"></i><% end %>&nbsp&nbsp
        <%= link_to product_path(@product), method: :delete, data: {confirm: 'Are you sure'} do %><i class="icon-trash icon-large"></i><% end %>
        <span class="prop-price pull-right serif italic star-rating" data-score=<%= @avg_rating %>></span>
       </div>
     <div class="clearfix padding030 row-fluid">
        <ul class="more-info pull-left span6">
          <li class="info-label clearfix">
            <span class="pull-left">Price:</span>
            <span class="qty pull-right"><%= number_to_currency @product.price , unit: "INR", format: '%u  %n' %></span>
          </li>
          <li class="info-label clearfix">
            <span class="pull-left">Category:</span>
            <span class="qty pull-right"><%= @product.category %></span>
          </li>
        </ul>
        <ul class="more-info pull-right span6">
          <li class="info-label clearfix">
            <span class="pull-left">Stock:</span>
            <span class="qty pull-right"><%= @product.stock %></span>
          </li>
        </ul>
        <ul class="more-info pull-right span12">
          <li class="info-label clearfix">
            <span class="pull-left">Description:</span>
            <span class="qty pull-right"><%= @product.description %></span>
          </li>
        </ul>
     </div>
     <div class="clearfix padding30">
      <%= link_to "Write a review", new_product_review_path(@product), :class=>"btn btn-small btn-realto" %>
        <h3>Review</h3>
        <% if @reviews.blank? %>
        <p> No reviews yet! </p>
        <% else %>
        <table class="table">
        <thead>
        <tr>
         <th class="col-md-3"></th>
         <th class="col-md-9"></th>
         </tr>
         </thead>
         <tbody>
       <% @reviews.each do |review| %>
       <tr>
       <td><h5><%= review.comment %></h5></td>
       <td><div class="star-rating" data-score=<%= review.rating %>></div>
       <%= "#{review.user.email.downcase}"%>
       </td>
       </tr>
       <% end %>
       </tbody>
       </table>
       <% end %>
     </div>
     </div>
     </div>
     </div>
      <!-- .span8 -->
     <div class="span4">
     <div class="agent-box widget box-container clearfix padding30">
     <% if @product.stock.zero? %>
     <button class="btn btn-large btn-danger span 2">Out of Stock </button>
     <% else %>
     <%= link_to "Add to Cart", cart_items_path(product_id: @product), :class => "btn btn-large btn-realto span2" %>
     <% end %>
     
     </div>
     </div>
     <div class="span4">
      <div class="agent-box widget box-container clearfix padding30">
      <h4> Frequently Asked Questions </h4>
      <%= link_to "See all Questions", product_questions_path(@product), :class=>"btn btn-small btn-realto" %><br>
      <% if @questions.blank? %>
      <p3>No Questions </p3>
      <% else %>
      <% @product.questions.each do |question| %>
      <p3>Q: <%= question.content %></p3></br>
      <p4><%= time_ago_in_words(question.created_at) %> ago by <%= question.user.email %></p4></br>
       <%= render question.answers %></br>
       <hr>
      <% end %>
      <% end %>

      </div>
      </div
     
     
     </div>
     </div>
     </div>
     </div>
<script>
    $('.star-rating').raty({
      path: '/assets/',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>
<%= render 'layouts/footer' %>